
body, *{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header section start */
#header{
    background: url("../images/banner/banner3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
}


#header .header-text .header-title{
    text-align: right;
    padding:250px 200px;
    color: white;
}
#header .header-text .header-title h1{
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;

}

#header .header-text .header-title p{
    padding-bottom: 20px;
}

#header .header-text .header-title .contact-btn{
    color: #005FAC;
    padding: 15px 25px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}
/* header section end*/



/* about section start */

.about{
    margin-top: 100px;
}

.about .about-information{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about .about-information .about-detail h2{
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 25px;
}

.about .about-information .about-detail p{
    padding-bottom: 20px;
}

.about .about-information .about-detail .about-option .fa-check{
    color: #16D887;
    font-size: 20px;
}




/* about section end */



/* plan section start */
.plan{
    margin-top: 100px;
}


.plan .plan-title{
    text-align: center;
    padding-bottom: 20px;
    
}

.plan .plan-title h2{
    font-weight: bold;
    color: black;
}

.plan .my-plans{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}
.plan .my-plans .plans{
    text-align: center;
}
.plan .my-plans .plan h3{
    padding: 10px 0px;
}

.plan .my-plans .plans h5{
    color: #838181;
    padding-top: 10px;
    font-size: 18px;
}
/* plan section end */


.container{
    width: 1200px;
    height:318px;
    margin: auto;
    position: relative;
    background: url('../images/watch.png');
    background-position: center;
    background-size: cover;
}

.container .gradient{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 318px;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right,  #005FAC, #005fac00);
}

.container .gradient h2{
    padding: 90px 50px 20px 50px;
    font-size: 35px;
}

.container .gradient .call{
    margin-left: 40px;
    padding: 20px 30px;
    border: none;
    color: #005FAC;
    font-weight: bold;
    border-radius: 7px;
}

/* footer section start */
footer{
    margin-top: 120px;
    background: black;
    max-height: 570px;
}

.footer-information{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.footer-information .footer-detail{
    color: white;
    padding: 60px 40px;
}

.footer-information .footer-detail p{
    width: 500px;
    padding: 20px 0px;
}

.footer-information .footer-detail .smm-logo{
    padding: 20px 0px;
}
.footer-information .footer-detail .smm-logo img{
    margin-right: 10px;
}

.footer-information .footer-form form{
    display: flex;
    flex-direction: column;
}
.footer-information .footer-form{
    padding: 60px 40px;
}


.footer-information .footer-form form span{
    color: white;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 30px;
}

.footer-information .footer-form form input{
    padding: 15px 40px;
    border: 1px solid white;
    background: none;
    border-radius: 7px;
    margin-bottom: 30px;
}

.footer-information .footer-form form input::placeholder{
    color: white;
}

.footer-information .footer-form form .subscribe button{
    padding: 18px 25px;
    border: none;
    background: #005FAC;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 7px;

}

/* footer section end */